* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(./background.jpg);
  background-size: cover;
  background-position: center;
  color: navy;
}

/* Header */
header {
  max-width: 100%;
  background-color: #333;
  color: beige;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
}

/* Date */
#date {
  margin-left: 2rem;
}
.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  padding: 0.5em;
  color: aliceblue;
  white-space: nowrap;
}
.navbar :hover {
  color: #f03e3e;
}

@media screen and (max-width: 500px) {
  header {
    flex-wrap: wrap;
    padding: 1em;
  }

  .navbar {
    width: 100%;
    justify-content: center;
  }

  .navbar a {
    padding: 0.5em 1em;
  }
}

/* Sections */
.Info-pager h2 {
  text-align: center;
  padding-top: 2rem;
}

.Info-pager h2 :hover {
  color: brown;
}

.Info-pager {
  text-align: justify;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.line-1 {
  margin: 1rem auto -1rem auto;
  max-width: 45em;
  height: 1rem;
  background: linear-gradient(
    to bottom,
    transparent 2px,
    black 2px,
    black 3px,
    transparent 3px
  );
}

.line-2 {
  margin: 1rem auto -1rem auto;
  max-width: 45em;
  height: 2rem;
  background: linear-gradient(
    to bottom,
    transparent 2px,
    black 2px,
    black 3px,
    transparent 3px
  );
}

/* listed-images */
.Info-pager-benefit {
  text-align: center;
}

.listed-images {
  margin: 1rem auto -1rem auto;
  max-width: 45em;
  text-align: center;
  list-style: none;
  font-weight: 40px;
}

.listed-images p {
  text-decoration: overline;
  padding-top: 1rem;
}

.listed-images img {
  width: 20rem;
  height: 10rem;
  border: solid 3px;
  max-width: 100%;
}

.images1 {
  display: flex;
  justify-content: left;
  align-items: left;
}
.images2 {
  display: flex;
  justify-content: right;
  align-items: right;
}

/* video tutorial */

.Info-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-tutorial {
  width: 100%;
  height: auto;
  max-width: 1000px;
}

/* Footer Styles */

footer {
  background-color: #333;
  color: #fff;
  padding: 25px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-section {
  width: 30%;
  margin-bottom: 20px;
}

.footer-section.about {
  width: 40%;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.subscribe p {
  margin-bottom: 10px;
}

.subscribe input[type="email"] {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.subscribe button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff4c4c;
  color: #fff;
  cursor: pointer;
}

.subscribe button:hover {
  background-color: #f03e3e;
}

.footer-bottom {
  border-top: 1px solid #777;
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
}

@media screen {
}
